const adms = (prefix) => { 

 

// NÃO APAGUE ESSE ${prefix}, não coloque nada ${dentro assim} ISSO SÃO DEFINIÇÕES QUE ESTÁ PUXANDO DO settings.json, da pasta dono, só pode altera a base de tudo, menos as definições, só se quiser apagar a definição completa. 

	return ` 
╭──────༺♡༻──────╮
         𝐌𝐄𝐍𝐔-𝐏𝐑𝐈𝐍𝐂𝐈𝐏𝐀𝐋
            𝐓𝐇𝐄 𝐆𝐔𝐀𝐃𝐈𝐀𝐍
╰──────༺♡༻──────╯
│♡⃝▓ ${prefix}ban 
│♡⃝▓ ${prefix}kick 
│♡⃝▓ ${prefix}ban2 
│♡⃝▓ ${prefix}listanegra
│♡⃝▓ ${prefix}tirardalista
│♡⃝▓ ${prefix}infolistanegra
│♡⃝▓ ${prefix}listban
│♡⃝▓ ${prefix}reviver (❗)
│♡⃝▓ ${prefix}add (❗)
│♡⃝▓ ${prefix}promover "ADM"
│♡⃝▓ ${prefix}rebaixar
│♡⃝▓ ${prefix}apr
│♡⃝▓ ${prefix}digt
│♡⃝▓ ${prefix}papof
│♡⃝▓ ${prefix}linkgp
│♡⃝▓ ${prefix}sorteio
│♡⃝▓ ${prefix}infosorteio
│♡⃝▓ ${prefix}sorteionumero
│♡⃝▓ ${prefix}votação 
│♡⃝▓ ${prefix}infovotação
│♡⃝▓ ${prefix}limpar 
│♡⃝▓ ${prefix}totag
│♡⃝▓ ${prefix}marcar "ÁUDIO"
│♡⃝▓ ${prefix}marcar2 "SEM"
│♡⃝▓ ${prefix}marcarwa
│♡⃝▓ ${prefix}hidtag "ACORDAA"
│♡⃝▓ ${prefix}atividades
│♡⃝▓ ${prefix}criartabela
│♡⃝▓ ${prefix}tabelagp
│♡⃝▓ ${prefix}grupoinfo
│♡⃝▓ ${prefix}listfake
│♡⃝▓ ${prefix}anotar
│♡⃝▓ ${prefix}tirarnota
│♡⃝▓ ${prefix}anotacoes
│♡⃝▓ ${prefix}infonotação 
│♡⃝▓ ${prefix}revelaranimal
│♡⃝▓ ${prefix}revelaranime
│♡⃝▓ ${prefix}resetvelha
│♡⃝▓ ${prefix}reset (AKINATOR)
│♡⃝▓ ${prefix}enquete
│♡⃝▓ ${prefix}regras
╰──────༺♡༻──────╯
      
          𝐂𝐎𝐍𝐅𝐈𝐆𝐔𝐑𝐀𝐑 𝐆𝐏
╭──────༺♡༻──────╮
│♥︎⃝▓ ${prefix}grupo "f/a"
│♥︎⃝▓ ${prefix}fechargp
│♥︎⃝▓ ${prefix}abrirgp
│♥︎⃝▓ ${prefix}infocontador
│♥︎⃝▓ ${prefix}bemvindo
│♥︎⃝▓ ${prefix}infobv
│♥︎⃝▓ ${prefix}bemvindo2
│♥︎⃝▓ ${prefix}legendabv 
│♥︎⃝▓ ${prefix}legendabv2
│♥︎⃝▓ ${prefix}legendasaiu
│♥︎⃝▓ ${prefix}legendasaiu2 
│♥︎⃝▓ ${prefix}fotogp
│♥︎⃝▓ ${prefix}descgp 
│♥︎⃝▓ ${prefix}nomegp
│♥︎⃝▓ ${prefix}novolik "DO-GP"
╰──────༺♡༻──────╯
    
                𝐀𝐓𝐈𝐕𝐀𝐂𝐎𝐄𝐒
╭──────༺♡༻──────╮
│♡⃝▓ ${prefix}status
│♡⃝▓ ${prefix}autofigurinha
│♡⃝▓ ${prefix}anagrama
│♡⃝▓ ${prefix}antiporno
│♡⃝▓ ${prefix}antinotas 
│♡⃝▓ ${prefix}antidocumento 
│♡⃝▓ ${prefix}antifigurinha
│♡⃝▓ ${prefix}antiloc 
│♡⃝▓ ${prefix}anticontato 
│♡⃝▓ ${prefix}antilink 
│♡⃝▓ ${prefix}antilinkgp
│♡⃝▓ ${prefix}Antiviewonce 
│♡⃝▓ ${prefix}antifake 
│♡⃝▓ ${prefix}limitetexto
│♡⃝▓ ${prefix}infolimitetexto
│♡⃝▓ ${prefix}antiimagem 
│♡⃝▓ ${prefix}antiaudio
│♡⃝▓ ${prefix}antivideo 
│♡⃝▓ ${prefix}simih 
│♡⃝▓ ${prefix}simih2 
│♡⃝▓ ${prefix}ranqueada
│♡⃝▓ ${prefix}+18
│♡⃝▓ ${prefix}autoresposta
│♡⃝▓ ${prefix}modogamer
│♡⃝▓ ${prefix}modozoeira
╰──────༺♡༻──────╯

${NomeDoBot}`
}

exports.adms = adms

// NÃO APAGUE ESSE ${prefix}, não coloque nada ${dentro assim} ISSO SÃO DEFINIÇÕES QUE ESTÁ PUXANDO DO settings.json, da pasta dono, só pode altera a base de tudo, menos as definições, só se quiser apagar a definição completa.
